@using Microsoft.AspNetCore.Identity
@using FlashcardsPlatformFull.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light">
                Hello, @(UserManager.GetUserAsync(User).Result?.DisplayName
                            ?? User.Identity?.Name)
        </span>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" class="btn btn-sm btn-outline-warning ms-2">
                Logout
            </button>
        </form>
    </li>
        }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </li>
    }
</ul>
